# RKE cluster for rancher managed by ansible

nodes:
{% for host in groups['rancher'] %}
  - address: {{ hostvars[host].ansible_facts['default_ipv4']['address'] }}
    hostname_override: {{ hostvars[host].inventory_hostname }}
    user: {{ ansible_user_id }}
    role: [controlplane, worker, etcd]
{% endfor %}

ssh_key_path: ~/.ssh/id_rsa
ssh_cert_path: ""
ssh_agent_auth: false

services:
  etcd:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    external_urls: []
    ca_cert: ""
    cert: ""
    key: ""
    path: ""
    snapshot: true
    creation: 6h
    retention: 24h
    backup_config: null
  kube-api:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    service_cluster_ip_range: 10.43.0.0/16
    service_node_port_range: ""
    pod_security_policy: false
    always_pull_images: false
  kube-controller:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    cluster_cidr: 10.42.0.0/16
    service_cluster_ip_range: 10.43.0.0/16
  scheduler:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
  kubelet:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    cluster_domain: cluster.local
    infra_container_image: ""
    cluster_dns_server: 10.43.0.10
    fail_swap_on: false
  kubeproxy:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []

network:
  plugin: canal
  options: {}

authentication:
  strategy: x509
  sans: []
  webhook: null

addons: ""
addons_include: []

ignore_docker_version: true
kubernetes_version: ""
private_registries: []

system_images:
  # For Kubernetes in an air-gapped environment,change to custom RKE images below
  etcd: rancher/coreos-etcd:v3.3.10-rancher1
  alpine: rancher/rke-tools:v0.1.50
  nginx_proxy: rancher/rke-tools:v0.1.50
  cert_downloader: rancher/rke-tools:v0.1.50
  kubernetes_services_sidecar: rancher/rke-tools:v0.1.50
  kubedns: rancher/k8s-dns-kube-dns:1.15.0
  dnsmasq: rancher/k8s-dns-dnsmasq-nanny:1.15.0
  kubedns_sidecar: rancher/k8s-dns-sidecar:1.15.0
  kubedns_autoscaler: rancher/cluster-proportional-autoscaler:1.3.0
  coredns: rancher/coredns-coredns:1.3.1
  coredns_autoscaler: rancher/cluster-proportional-autoscaler:1.3.0
  kubernetes: rancher/hyperkube:v1.15.11-rancher1
  flannel: rancher/coreos-flannel:v0.11.0-rancher1
  flannel_cni: rancher/flannel-cni:v0.3.0-rancher5
  calico_node: rancher/calico-node:v3.7.4
  calico_cni: rancher/calico-cni:v3.7.4
  calico_controllers: rancher/calico-kube-controllers:v3.7.4
  calico_ctl: rancher/calico-ctl:v2.0.0
  canal_node: rancher/calico-node:v3.7.4
  canal_cni: rancher/calico-cni:v3.7.4
  canal_flannel: rancher/coreos-flannel:v0.11.0
  weave_node: weaveworks/weave-kube:2.5.2
  weave_cni: weaveworks/weave-npc:2.5.2
  pod_infra_container: rancher/pause:3.1
  ingress: rancher/nginx-ingress-controller:nginx-0.25.1-rancher1
  ingress_backend: rancher/nginx-ingress-controller-defaultbackend:1.5-rancher1
  metrics_server: rancher/metrics-server:v0.3.3

authorization:
  mode: rbac
  options: {}

# Required for external TLS termination with ingress-nginx v0.22+
ingress:
  provider: nginx
  options:
    use-forwarded-headers: "true"
  node_selector: {}
  extra_args: {}

cluster_name: "rancher-cluster"

prefix_path: ""
addon_job_timeout: 0

bastion_host:
  address: ""
  port: ""
  user: ""
  ssh_key: ""
  ssh_key_path: ""
  ssh_cert: ""
  ssh_cert_path: ""

monitoring:
  provider: ""
  options: {}

restore:
  restore: false
  snapshot_name: ""

dns: null
